#wrapper {
	display: flex;
	height: 100px;
	width: 100%;
}

#sidebar {
	display: inline-block;
	background: grey;
	width: 30%;
}

#content {
	display: inline-block;
	background: green;
	width: 70%;
}
